<div class="hero">
	<div class="hero-inner">
		<div class="hero-copy">
			<h1>Connecting Music Makers</h1>
      <p>Studioshare helps you find musicians, audio engineers, and producers to collaborate in making and recording music.</p>
		</div>
    <button>Learn More</button>
	</div>
</div>
