<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <%= link_to "<img src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png' alt='Logo Image'><span class='company-name'>studioshare</span>".html_safe, root_path, {:class => 'logo'} %>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="javascript:void(0)">Products</a></li>
        <li class="nav-link"><a href="javascript:void(0)">About Us</a></li>
        <li class="nav-link"><%= render 'devise/menu/login_items' %></li>
        <li class="nav-link"><%= render 'devise/menu/registration_items' %></li>
      </ul>
    </nav>
  </div>
</header>
